pip==23.2.1
nvidia-ml-py==12.560.30
setproctitle==1.3.3
sacremoses==0.1.1
gpustat==1.1.1
blessed==1.20.0
sentry-sdk==2.16.0
docker-pycreds==0.4.0
pip==23.2.1
wandb==0.18.3
xxhash==3.4.1
configparser==5.2.0
fastjsonschema==2.19.1
flatbuffers==24.3.25
soundfile==0.12.1
ml-dtypes==0.3.2
webencodings==0.5.1
pycparser==2.21
tensorflow-estimator==2.15.0
jsonschema==4.17.3
dill==0.3.6
setuptools==68.0.0
wheel==0.38.4
wcwidth==0.2.5
importlib_resources==6.4.0
databricks-feature-engineering==0.5.0
nvidia-curand-cu12==10.3.2.106
cycler==0.11.0
preshed==3.0.9
notebook==6.5.4
tiktoken==0.5.2
typeguard==2.13.3
google-cloud-storage==2.10.0
aiohttp-cors==0.7.0
typing-inspect==0.9.0
anyio==3.5.0
Send2Trash==1.8.0
ipyflow-core==0.0.198
sentence-transformers==2.7.0
gast==0.4.0
python-snappy==0.6.1
imageio==2.31.1
pytesseract==0.3.10
cachetools==5.3.3
requests-oauthlib==1.3.1
sniffio==1.2.0
pmdarima==2.0.4
librosa==0.10.1
grpcio-status==1.60.0
langchain-community==0.0.38
soxr==0.3.7
srsly==2.4.8
multidict==6.0.2
tensorflow-io-gcs-filesystem==0.37.0
matplotlib-inline==0.1.6
xgboost==2.0.3
googleapis-common-protos==1.63.0
msal==1.28.0
pyasn1==0.4.8
jmespath==0.10.0
joblibspark==0.5.1
PyWavelets==1.4.1
zstd==1.5.5.1
PyNaCl==1.5.0
tensorboard_plugin_profile==2.15.1
mypy-extensions==0.4.3
thinc==8.2.3
smart-open==5.2.1
tenacity==8.2.2
platformdirs==3.10.0
stack-data==0.2.0
weasel==0.3.4
azure-storage-file-datalake==12.14.0
packaging==23.2
grpcio==1.60.0
plotly==5.9.0
click==8.0.4
cloudpickle==2.2.1
google-auth==2.21.0
argon2-cffi-bindings==21.2.0
slicer==0.0.7
wasabi==1.1.2
facets-overview==1.1.1
gunicorn==20.1.0
python-dateutil==2.8.2
astor==0.8.1
langcodes==3.4.0
tinycss2==1.2.1
itsdangerous==2.0.1
statsmodels==0.14.0
executing==0.8.3
pyccolo==0.0.52
pure-eval==0.2.2
mosaicml-streaming==0.7.4
pynvml==11.5.0
proto-plus==1.23.0
stanio==0.5.0
llvmlite==0.40.0
MarkupSafe==2.1.1
Werkzeug==2.2.3
psutil==5.9.0
lazy_loader==0.2
marisa-trie==1.1.1
confection==0.1.4
petastorm==0.12.1
tqdm==4.65.0
pyrsistent==0.18.0
opencensus-context==0.1.3
parso==0.8.3
pexpect==4.8.0
category-encoders==2.6.3
tensorflow==2.16.1
pip==23.2.1
cffi==1.15.1
nvidia-cuda-runtime-cu12==12.1.105
pandas==1.5.3
debugpy==1.6.7
websocket-client==0.58.0
frozenlist==1.3.3
safetensors==0.4.2
accelerate==0.30.1
datasets==2.19.1
Farama-Notifications==0.0.4
dbl-tempo==0.1.26
pyasn1-modules==0.2.8
patsy==0.5.3
dm-tree==0.1.8
async-timeout==4.0.2
yarl==1.8.1
diskcache==5.6.3
urllib3==1.26.16
colorful==0.5.6
nvidia-nccl-cu12==2.20.5
google-pasta==0.2.0
nbclassic==0.5.5
pyzmq==23.2.0
Mako==1.2.0
h5py==3.10.0
argon2-cffi==21.3.0
jupyter_core==5.3.0
tensorboard-data-server==0.7.2
ipython==8.15.0
prometheus-client==0.14.1
traitlets==5.7.1
torcheval==0.0.7
azure-storage-blob==12.19.1
gymnasium==0.28.1
multiprocess==0.70.14
importlib-metadata==6.0.0
astunparse==1.6.3
pyodbc==4.0.38
httpcore==1.0.5
sympy==1.11.1
langchain-core==0.1.52
markdown-it-py==2.2.0
tzdata==2022.1
nvidia-nvjitlink-cu12==12.5.40
py-spy==0.3.14
backcall==0.2.0
pickleshare==0.7.5
fasttext==0.9.2
uc-micro-py==1.0.1
horovod==0.28.1+db1
holidays==0.45
pyparsing==3.0.9
joblib==1.2.0
absl-py==1.0.0
transformers==4.40.2
threadpoolctl==2.2.0
comm==0.1.2
tokenize-rt==4.2.1
tensorboard==2.16.2
aiosignal==1.2.0
python-lsp-jsonrpc==1.1.1
langsmith==0.1.63
jupyterlab-pygments==0.1.2
Cython==0.29.32
azure-cosmos==4.3.1
nvidia-cufft-cu12==11.0.2.54
termcolor==2.4.0
lz4==4.3.2
deepspeed==0.14.0
ImageHash==4.3.1
langchain-text-splitters==0.0.2
catalogue==2.0.10
marshmallow==3.21.2
paramiko==3.4.0
nest-asyncio==1.5.6
mlflow-skinny==2.11.3
matplotlib==3.7.2
azure-identity==1.16.0
filelock==3.13.4
scikit-learn==1.3.0
phik==0.12.4
jupyter_client==7.4.9
nvidia-nvtx-cu12==12.1.105
attrs==22.1.0
future==0.18.3
mdit-py-plugins==0.3.0
msgpack==1.0.8
orjson==3.10.3
htmlmin==0.1.12
asttokens==2.0.5
pandocfilters==1.5.0
nbconvert==6.5.4
botocore==1.34.39
tensorboardX==2.6.2.2
shap==0.44.0
memray==1.12.0
evaluate==0.4.2
pytz==2022.7
google-crc32c==1.5.0
scipy==1.11.1
rsa==4.9
psycopg2==2.9.3
jsonpointer==2.4
fonttools==4.25.0
Markdown==3.4.1
lxml==4.9.2
SQLAlchemy==1.4.39
protobuf==4.24.1
prophet==1.1.5
aiohttp==3.8.5
boto3==1.34.39
mpmath==1.3.0
triton==2.3.0
tf_keras==2.16.0
PyYAML==6.0
jupyter-server==1.23.4
optree==0.11.0
gitdb==4.0.11
jax-jumpy==1.0.0
ipykernel==6.25.1
scikit-image==0.20.0
defusedxml==0.7.1
bcrypt==3.2.0
tifffile==2021.7.2
dataclasses-json==0.6.6
sentencepiece==0.1.99
py-cpuinfo==8.0.0
cloudpathlib==0.16.0
langchain==0.1.20
idna==3.4
charset-normalizer==2.0.4
decorator==5.1.1
seaborn==0.12.2
pathspec==0.10.3
google-resumable-media==2.7.0
databricks-sdk==0.20.0
huggingface-hub==0.21.2
soupsieve==2.4
cymem==2.0.8
numpy==1.23.5
google-api-core==2.18.0
cmdstanpy==1.2.2
ipywidgets==7.7.2
beautifulsoup4==4.12.2
lightgbm==4.3.0
nbclient==0.5.13
mdurl==0.1.0
imbalanced-learn==0.11.0
nvidia-cublas-cu12==12.1.3.1
tokenizers==0.19.0
cryptography==41.0.3
nvidia-cuda-cupti-cu12==12.1.105
murmurhash==1.0.10
pydantic==1.10.6
entrypoints==0.4
multimethod==1.11.2
spark-tensorflow-distributor==1.0.0
libclang==15.0.6.1
Brotli==1.0.9
ray==2.12.0
pooch==1.8.1
smmap==5.0.0
GitPython==3.1.27
mistune==0.8.4
pyarrow-hotfix==0.6
nvidia-cudnn-cu12==8.9.2.26
flash-attn==2.5.8
spacy-legacy==3.0.12
notebook_shim==0.2.2
einops==0.8.0
ipython-genutils==0.2.0
ydata-profiling==4.5.1
portalocker==2.8.2
Jinja2==3.1.2
numba==0.57.1
oci==2.126.4
blis==0.7.11
fsspec==2023.5.0
Pillow==9.4.0
opencensus==0.11.4
zipp==3.11.0
greenlet==2.0.1
contourpy==1.0.5
s3transfer==0.10.1
nbformat==5.7.0
nvidia-cuda-nvrtc-cu12==12.1.105
ujson==5.4.0
visions==0.7.5
simplejson==3.17.6
spacy-loggers==1.0.5
namex==0.0.8
wrapt==1.14.1
torch==2.3.0+cu121
nvidia-cusparse-cu12==12.1.0.106
jedi==0.18.1
ptyprocess==0.7.0
pybind11==2.12.0
h11==0.14.0
jsonpatch==1.33
black==23.3.0
databricks-automl-runtime==0.2.21
audioread==3.0.1
language_data==1.2.0
tornado==6.3.2
nltk==3.8.1
azure-core==1.30.1
bleach==4.1.0
textual==0.63.3
networkx==3.1
keras==3.1.1
dacite==1.8.1
prompt-toolkit==3.0.36
pyOpenSSL==23.2.0
opt-einsum==3.3.0
nvidia-cusolver-cu12==11.4.5.107
msal-extensions==1.1.0
pyarrow==14.0.1
Flask==2.2.5
tangled-up-in-unicode==0.2.0
spacy==3.7.2
ninja==1.11.1.1
kiwisolver==1.4.4
torchvision==0.18.0+cu121
regex==2022.7.9
typing_extensions==4.10.0
Pygments==2.15.1
google-cloud-core==2.4.1
certifi==2023.7.22
circuitbreaker==1.4.0
isodate==0.6.1
chardet==4.0.0
requests==2.31.0
sqlparse==0.4.2
terminado==0.17.1
rich==13.7.1
openai==1.29.0
google-auth-oauthlib==1.0.0
gviz-api==1.10.0
httpx==0.27.0
hjson==3.1.0
typer==0.9.4
wordcloud==1.9.3
python-editor==1.0.4
linkify-it-py==2.0.0
setuptools==68.0.0
wheel==0.38.4
distlib==0.3.8
pip==23.2.1
platformdirs==3.11.0
filelock==3.14.0
virtualenv==20.24.2
zipp==1.0.0
httplib2==0.20.2
launchpadlib==1.10.16
PyJWT==2.3.0
importlib-metadata==4.6.4
distro-info==1.1+ubuntu0.2
blinker==1.4
ssh-import-id==5.11
unattended-upgrades==0.1
distro==1.7.0
lazr.restfulclient==0.14.4
jeepney==0.7.1
dbus-python==1.2.18
pyparsing==2.4.7
six==1.16.0
oauthlib==3.2.0
SecretStorage==3.3.1
more-itertools==8.10.0
lazr.uri==1.0.6
python-apt==2.4.0+ubuntu4
wadllib==1.3.6
cryptography==3.4.8
keyring==23.5.0
PyGObject==3.42.1
